<!-- Header -->
<header id="header">

    <!-- Navbar -->
    <nav data-aos="zoom-out" data-aos-delay="800" class="navbar navbar-expand">
        <div class="container header div">

            <!-- Navbar Brand-->
            {% if page.language == 'en' %}
            <a class="navbar-brand" href="/en">
                <img src="/assets/website/logo-primary.png" alt="WANTED.solutions logo">
            </a>
            {% else %}
            <a class="navbar-brand" href="/cs">
                <img src="/assets/website/logo-primary.png" alt="WANTED.solutions logo">
            </a>
            {% endif %}

            <!-- Nav holder -->
            <div class="ml-auto"></div>

            <!-- Navbar Items -->
            <ul class="navbar-nav items">
                {% if page.language == 'en' %}
                <li class="nav-item">
                    <a href="en/#features" title="Link to features paragraph" class="nav-link smooth-anchor">Features</a>
                </li>
                <li class="nav-item">
                    <a href="/en/about/" title="Link to about us page" class="nav-link">About Us</a>
                </li>
                <li class="nav-item">
                    <a href="en/#footer" title="Link to contact page" class="nav-link smooth-anchor">Contact Us</a>
                </li>
                <li class="nav-item">
                    <a href="/en/articles/" title="Link to blog articles" class="nav-link">Blog</a>
                </li>
                <li class="nav-item social">
                    <a href="/cs" class="nav-link"><img class="flag" src="/assets/fonts/icons/cz-flag.png" alt="Čeština"></a>
                </li>
                {% else %}
                <li class="nav-item">
                    <a href="cs/#features" title="Odkaz na stránku - Funkce" class="nav-link smooth-anchor">Funkce</a>
                </li>
                <li class="nav-item">
                    <a href="/cs/o-nas/" title="Odkaz na stránku - O nás" class="nav-link">O nás</a>
                </li>
                <li class="nav-item">
                    <a href="cs/#footer" title="Odkaz na stránku - Kontakt" class="nav-link smooth-anchor">Kontakt</a>
                </li>
                <li class="nav-item">
                    <a href="/cs/clanky/" title="Odkaz na stránku - Články" class="nav-link">Blog</a>
                </li>
                <li class="nav-item social">
                    <a href="/en" class="nav-link"><img class="flag" src="/assets/fonts/icons/eng-flag.png" alt="English"></a>
                </li>
                {% endif %}
            </ul>

            <!-- Navbar Icons -->
            <ul class="navbar-nav icons">
                <li class="nav-item social">
                    <a href="https://github.com/wanted-solutions" target="_blank" class="nav-link"><i class="icon-social-github"></i></a>
                </li>
                <li class="nav-item social">
                    <a href="https://www.linkedin.com/company/wanted-solutions" target="_blank" class="nav-link"><i class="icon-social-linkedin"></i></a>
                </li>
            </ul>

            <!-- Navbar Toggle -->
            <ul class="navbar-nav toggle">
                <li class="nav-item">
                    <a href="#" class="nav-link" data-toggle="modal" data-target="#menu">
                        <i class="icon-menu m-0"></i>
                    </a>
                </li>
            </ul>

            <!-- Navbar Action -->
            <ul class="navbar-nav action">
                <li class="nav-item ml-3">
                    <!-- <a href="https://themeforest.net/item/leverage-creative-agency-corporate-and-startups-multipurpose-template/25988106" target="_blank" class="btn ml-lg-auto dark-button"><i class="icon-rocket"></i>BUY NOW</a> -->
                    <!-- 
                        Suggestion: Replace the purchase button above with a contact button.
                        
                        <a href="#contact" class="smooth-anchor btn ml-lg-auto dark-button"><i class="icon-rocket"></i>CONTACT US</a>
                    -->
                </li>
            </ul>
        </div>
    </nav>
    
</header>
