<!-- Header -->
<header id="header">

    <!-- Navbar -->
    <nav data-aos="zoom-out" data-aos-delay="800" class="navbar navbar-expand">
        <div class="container header">

            <!-- Navbar Brand-->
            <a class="navbar-brand" href="/">
                <img src="assets/branding/logo-primary.png" alt="WANTED.solutions">
            </a>

            <!-- Nav holder -->
            <div class="ml-auto"></div>

            <!-- Navbar Items -->
            <ul class="navbar-nav items">
                <li class="nav-item dropdown">
                    <a href="#" class="nav-link">Home <i class="icon-arrow-down"></i></a>
                    <ul class="dropdown-menu">
                        <li class="nav-item dropdown">
                            <a class="nav-link" href="#">Multi-Page <i class="icon-arrow-right"></i></a>
                            <ul class="dropdown-menu">
                                <li class="nav-item dropdown">
                                    <a class="nav-link" href="#">Agency <i class="icon-arrow-right"></i></a>
                                    <ul class="dropdown-menu">
                                        <li class="nav-item"><a href="home-1.html" class="nav-link">Demo 1</a></li>
                                        <li class="nav-item"><a href="home-2.html" class="nav-link">Demo 2</a></li>
                                        <li class="nav-item"><a href="home-3.html" class="nav-link">Demo 3</a></li>
                                        <li class="nav-item"><a href="home-4.html" class="nav-link">Demo 4</a></li>
                                        <li class="nav-item"><a href="home-5.html" class="nav-link">Demo 5</a></li>
                                        <li class="nav-item"><a href="home-6.html" class="nav-link">Demo 6</a></li>
                                        <li class="nav-item"><a href="home-7.html" class="nav-link">Demo 7</a></li>
                                        <li class="nav-item"><a href="home-8.html" class="nav-link">Demo 8</a></li>
                                        <li class="nav-item"><a href="home-9.html" class="nav-link">Demo 9</a></li>
                                        <li class="nav-item"><a href="home-10.html" class="nav-link">Demo 10</a></li>
                                    </ul>
                                </li>
                                <li class="nav-item dropdown">
                                    <a class="nav-link" href="#">Portfolio <i class="icon-arrow-right"></i></a>
                                    <ul class="dropdown-menu">
                                        <li class="nav-item"><a href="home-11.html" class="nav-link">Demo 11</a></li>
                                        <li class="nav-item"><a href="home-12.html" class="nav-link">Demo 12</a></li>
                                        <li class="nav-item"><a href="home-13.html" class="nav-link">Demo 13</a></li>
                                        <li class="nav-item"><a href="home-14.html" class="nav-link">Demo 14</a></li>
                                        <li class="nav-item"><a href="home-15.html" class="nav-link">Demo 15</a></li>
                                        <li class="nav-item"><a href="home-16.html" class="nav-link">Demo 16</a></li>
                                        <li class="nav-item"><a href="home-17.html" class="nav-link">Demo 17</a></li>
                                        <li class="nav-item"><a href="home-18.html" class="nav-link">Demo 18</a></li>
                                        <li class="nav-item"><a href="home-19.html" class="nav-link">Demo 19</a></li>
                                        <li class="nav-item"><a href="home-20.html" class="nav-link">Demo 20</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link" href="#">One-Page <i class="icon-arrow-right"></i></a>
                            <ul class="dropdown-menu">
                                <li class="nav-item dropdown">
                                    <a class="nav-link" href="#">Agency <i class="icon-arrow-right"></i></a>
                                    <ul class="dropdown-menu">
                                        <li class="nav-item"><a href="home-1-one-page.html" class="nav-link">Demo 1</a></li>
                                        <li class="nav-item"><a href="home-2-one-page.html" class="nav-link">Demo 2</a></li>
                                        <li class="nav-item"><a href="home-3-one-page.html" class="nav-link">Demo 3</a></li>
                                        <li class="nav-item"><a href="home-4-one-page.html" class="nav-link">Demo 4</a></li>
                                        <li class="nav-item"><a href="home-5-one-page.html" class="nav-link">Demo 5</a></li>
                                        <li class="nav-item"><a href="home-6-one-page.html" class="nav-link">Demo 6</a></li>
                                        <li class="nav-item"><a href="home-7-one-page.html" class="nav-link">Demo 7</a></li>
                                        <li class="nav-item"><a href="home-8-one-page.html" class="nav-link">Demo 8</a></li>
                                        <li class="nav-item"><a href="home-9-one-page.html" class="nav-link">Demo 9</a></li>
                                        <li class="nav-item"><a href="home-10-one-page.html" class="nav-link">Demo 10</a></li>
                                    </ul>
                                </li>
                                <li class="nav-item dropdown">
                                    <a class="nav-link" href="#">Portfolio <i class="icon-arrow-right"></i></a>
                                    <ul class="dropdown-menu">
                                        <li class="nav-item"><a href="home-11-one-page.html" class="nav-link">Demo 11</a></li>
                                        <li class="nav-item"><a href="home-12-one-page.html" class="nav-link">Demo 12</a></li>
                                        <li class="nav-item"><a href="home-13-one-page.html" class="nav-link">Demo 13</a></li>
                                        <li class="nav-item"><a href="home-14-one-page.html" class="nav-link">Demo 14</a></li>
                                        <li class="nav-item"><a href="home-15-one-page.html" class="nav-link">Demo 15</a></li>
                                        <li class="nav-item"><a href="home-16-one-page.html" class="nav-link">Demo 16</a></li>
                                        <li class="nav-item"><a href="home-17-one-page.html" class="nav-link">Demo 17</a></li>
                                        <li class="nav-item"><a href="home-18-one-page.html" class="nav-link">Demo 18</a></li>
                                        <li class="nav-item"><a href="home-19-one-page.html" class="nav-link">Demo 19</a></li>
                                        <li class="nav-item"><a href="home-20-one-page.html" class="nav-link">Demo 20</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </li>
                <li class="nav-item dropdown">
                    <a href="#" class="nav-link">Pages <i class="icon-arrow-down"></i></a>
                    <ul class="dropdown-menu">
                        <li class="nav-item dropdown">
                            <a class="nav-link" href="#">About<i class="icon-arrow-right"></i></a>
                            <ul class="dropdown-menu">
                                <li class="nav-item"><a href="page-about-1.html" class="nav-link">About 1</a></li>
                                <li class="nav-item"><a href="page-about-2.html" class="nav-link">About 2</a></li>
                            </ul>
                        </li>
                        <li class="nav-item"><a href="page-services-1.html" class="nav-link">Services</a></li>
                        <li class="nav-item"><a href="page-single-service-1.html" class="nav-link">Single Service</a></li>
                        <li class="nav-item dropdown">
                            <a class="nav-link" href="#">Portfolio<i class="icon-arrow-right"></i></a>
                            <ul class="dropdown-menu">
                                <li class="nav-item"><a href="page-portfolio-1.html" class="nav-link">Portfolio 1</a></li>
                                <li class="nav-item"><a href="page-portfolio-2.html" class="nav-link">Portfolio 2</a></li>
                            </ul>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link" href="#">Single Portfolio<i class="icon-arrow-right"></i></a>
                            <ul class="dropdown-menu">
                                <li class="nav-item"><a href="page-single-portfolio-1.html" class="nav-link">Single Portfolio 1</a></li>
                                <li class="nav-item"><a href="page-single-portfolio-2.html" class="nav-link">Single Portfolio 2</a></li>
                            </ul>
                        </li>
                        <li class="nav-item"><a href="page-pricing-1.html" class="nav-link">Pricing</a></li>
                        <li class="nav-item"><a href="page-contact-1.html" class="nav-link">Contact</a></li>
                    </ul>
                </li>
                <li class="nav-item dropdown">
                    <a href="#" class="nav-link">Blog <i class="icon-arrow-down"></i></a>
                    <ul class="dropdown-menu">
                        <li class="nav-item dropdown">
                            <a class="nav-link" href="#">Blog Posts<i class="icon-arrow-right"></i></a>
                            <ul class="dropdown-menu">
                                <li class="nav-item"><a href="page-blog-1.html" class="nav-link">Blog Posts 1</a></li>
                                <li class="nav-item"><a href="page-blog-2.html" class="nav-link">Blog Posts 2</a></li>
                                <li class="nav-item"><a href="page-blog-3.html" class="nav-link">Blog Posts 3</a></li>
                                <li class="nav-item"><a href="page-blog-4.html" class="nav-link">Blog Posts 4</a></li>
                            </ul>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link" href="#">Single Post<i class="icon-arrow-right"></i></a>
                            <ul class="dropdown-menu">
                                <li class="nav-item"><a href="page-single-post-1.html" class="nav-link">Single Post 1</a></li>
                                <li class="nav-item"><a href="page-single-post-2.html" class="nav-link">Single Post 2</a></li>
                                <li class="nav-item"><a href="page-single-post-3.html" class="nav-link">Single Post 3</a></li>
                                <li class="nav-item"><a href="page-single-post-4.html" class="nav-link">Single Post 4</a></li>
                            </ul>
                        </li>
                    </ul>
                </li>
                <li class="nav-item">
                    <a href="#" class="nav-link">Extra</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a href="#" class="nav-link">Subscribe Form<i class="icon-arrow-right"></i></a>
                            <ul class="dropdown-menu">
                                <li class="nav-item dropdown">
                                    <a class="nav-link" href="#">Dark Mode <i class="icon-arrow-right"></i></a>
                                    <ul class="dropdown-menu">
                                        <li class="nav-item"><a href="dark-service-request-3.html" class="nav-link">Service Request</a></li>
                                        <li class="nav-item"><a href="dark-landing-page-3.html" class="nav-link">Landing Page</a></li>
                                    </ul>
                                </li>
                                <li class="nav-item dropdown">
                                    <a class="nav-link" href="#">Light Mode<i class="icon-arrow-right"></i></a>
                                    <ul class="dropdown-menu">
                                        <li class="nav-item"><a href="light-service-request-3.html" class="nav-link">Service Request</a></li>
                                        <li class="nav-item"><a href="light-landing-page-3.html" class="nav-link">Landing Page</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </li>
            </ul>

            <!-- Navbar Icons -->
            <ul class="navbar-nav icons">
                <li class="nav-item">
                    <a href="#" class="nav-link" data-toggle="modal" data-target="#search">
                        <i class="icon-magnifier"></i>
                    </a>
                </li>
                <li class="nav-item social">
                    <a href="#" class="nav-link"><i class="icon-social-twitter"></i></a>
                </li>
                <li class="nav-item social">
                    <a href="#" class="nav-link"><i class="icon-social-instagram"></i></a>
                </li>
            </ul>

            <!-- Navbar Toggle -->
            <ul class="navbar-nav toggle">
                <li class="nav-item">
                    <a href="#" class="nav-link" data-toggle="modal" data-target="#menu">
                        <i class="icon-menu m-0"></i>
                    </a>
                </li>
            </ul>

            <!-- Navbar Action -->
            <ul class="navbar-nav action">
                <li class="nav-item ml-3">
                    <a href="https://themeforest.net/item/leverage-creative-agency-corporate-and-startups-multipurpose-template/25988106" target="_blank" class="btn ml-lg-auto dark-button"><i class="icon-rocket"></i>BUY NOW</a>
                    <!-- 
                        Suggestion: Replace the purchase button above with a contact button.
                        
                        <a href="#contact" class="smooth-anchor btn ml-lg-auto dark-button"><i class="icon-rocket"></i>CONTACT US</a>
                    -->
                </li>
            </ul>
        </div>
    </nav>

</header>