<!-- Header -->
<header id="header">

    <!-- Navbar -->
    <nav data-aos="zoom-out" data-aos-delay="800" class="navbar navbar-expand">
        <div class="container header">

            <!-- Navbar Brand-->
            <a class="navbar-brand" href="/">
                <img src="assets/branding/logo-primary.png" alt="WANTED.solutions">
            </a>

            <!-- Nav holder -->
            <div class="ml-auto"></div>

            <!-- Navbar Items -->
            <ul class="navbar-nav items">

                <li class="nav-item">
                    <a href="#features" class="nav-link">Features</a>
                </li>
                <li class="nav-item">
                    <a href="#footer" class="nav-link">Contact Us</a>
                </li>
                
                        <!-- <li class="nav-item dropdown">
                            <a href="#" class="nav-link">Subscribe Form<i class="icon-arrow-right"></i></a>
                            <ul class="dropdown-menu">
                                <li class="nav-item dropdown">
                                    <a class="nav-link" href="#">Dark Mode <i class="icon-arrow-right"></i></a>
                                    <ul class="dropdown-menu">
                                        <li class="nav-item"><a href="dark-service-request-3.html" class="nav-link">Service Request</a></li>
                                        <li class="nav-item"><a href="dark-landing-page-3.html" class="nav-link">Landing Page</a></li>
                                    </ul>
                                </li>
                                <li class="nav-item dropdown">
                                    <a class="nav-link" href="#">Light Mode<i class="icon-arrow-right"></i></a>
                                    <ul class="dropdown-menu">
                                        <li class="nav-item"><a href="light-service-request-3.html" class="nav-link">Service Request</a></li>
                                        <li class="nav-item"><a href="light-landing-page-3.html" class="nav-link">Landing Page</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </li> -->
            </ul>

            <!-- Navbar Icons -->
            <ul class="navbar-nav icons">
                <!-- <li class="nav-item">
                    <a href="#" class="nav-link" data-toggle="modal" data-target="#search">
                        <i class="icon-magnifier"></i>
                    </a>
                </li> -->
                <li class="nav-item social">
                    <a href="#" class="nav-link"><i class="icon-social-linkedin"></i></a>
                </li>
                <!-- <li class="nav-item social">
                    <a href="#" class="nav-link"><i class="icon-social-instagram"></i></a>
                </li> -->
            </ul>

            <!-- Navbar Toggle -->
            <ul class="navbar-nav toggle">
                <li class="nav-item">
                    <a href="#" class="nav-link" data-toggle="modal" data-target="#menu">
                        <i class="icon-menu m-0"></i>
                    </a>
                </li>
            </ul>

            <!-- Navbar Action -->
            <ul class="navbar-nav action">
                <li class="nav-item ml-3">
                    <!-- <a href="https://themeforest.net/item/leverage-creative-agency-corporate-and-startups-multipurpose-template/25988106" target="_blank" class="btn ml-lg-auto dark-button"><i class="icon-rocket"></i>BUY NOW</a> -->
                    <!-- 
                        Suggestion: Replace the purchase button above with a contact button.
                        
                        <a href="#contact" class="smooth-anchor btn ml-lg-auto dark-button"><i class="icon-rocket"></i>CONTACT US</a>
                    -->
                </li>
            </ul>
        </div>
    </nav>

</header>