<!-- Subscribe -->
<section id="subscribe" class="section-6 odd subscribe featured all">
    <div class="container smaller">
        <div class="row text-center intro">
            <div class="col-12">
                <h2>Newsletter</h2>
                <p class="text-max-800">Subscribe to our newsletter and follow our content closely. Receive news based on what has to do with you. We promise not to send promotions you don't like.</p>
            </div>
        </div>
        <div class="row">
            <div class="col-12 p-0">
                <form action="php/form.php" id="leverage-subscribe" class="row m-auto items">
                    <input type="hidden" name="section" value="leverage_subscribe">

                    <input type="hidden" name="reCAPTCHA">
                    <!-- Remove this field if you want to disable recaptcha -->

                    <div class="col-12 col-lg-5 m-lg-0 input-group align-self-center item">
                        <input type="text" name="name" class="form-control field-name" placeholder="Name">
                    </div>
                    <div class="col-12 col-lg-5 m-lg-0 input-group align-self-center item">
                        <input type="email" name="email" class="form-control field-email" placeholder="Email">
                    </div>
                    <div class="col-12 col-lg-2 m-lg-0 input-group align-self-center item">
                        <a class="btn primary-button w-100">SUBSCRIBE</a>
                    </div>
                    <div class="col-12 text-center">
                        <span class="form-alert mt-5 mb-0"></span>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>