<!DOCTYPE html>

<html lang="en">

    <head>

        <!-- ==============================================
        Basic Page Needs
        =============================================== -->
        <meta charset="utf-8">
        <meta http-equiv="Content-Security-Policy" content="{{ site.http_csp }}">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <!--[if IE]><meta http-equiv="x-ua-compatible" content="IE=9" /><![endif]-->

        <title>{{ page.title  | default: site.title }}</title>

        <meta name="description" content="{{ page.description | default: site.description }}">
        <meta name="keywords" content="{{ page.keywords | default: site.keywords }}">
        <meta name="subject" content="{{ page.subject | default: site.subject }}">
        <meta name="author" content="Martin Hrášek @ WANTED.soutions">
        <meta name="robots" content="index,follow">

        <meta property="og:title" content="{{ page.title }}" />
        <meta property="og:type" content="article" />
        <meta property="og:url" content="{{ page.url }}" />
        <meta property="og:image" content="{{ site.url }}/{{ page.image }}" />

        <!-- ==============================================
        Favicons
        =============================================== -->
        <link rel="shortcut icon" href="/assets/branding/favicon.ico">
        <link rel="apple-touch-icon" href="/assets/branding/apple-touch-icon.png">
        <link rel="apple-touch-icon" sizes="72x72" href="/assets/branding/apple-touch-icon-72x72.png">
        <link rel="apple-touch-icon" sizes="114x114" href="/assets/branding/apple-touch-icon-114x114.png">

        <link rel="preload" as="image" href="/assets/website/hp-background-full.jpeg.webp">
        <link rel="preload" as="image" href="/assets/website/hp-background-002-full-0.35.webp">
        <link rel="preload" as="image" href="/assets/website/hp-background-003-full-0.35.webp">
        <link rel="preload" as="image" href="/assets/website/hp-ilustration.webp">
        
        <link rel="preload" as="font" href="/assets/fonts/icons/Icons-Line.woff2?v=2.4.0">
        <link rel="preload" as="font" href="/assets/fonts/default-font/Default-Heavy.woff">
        <link rel="preload" as="font" href="/assets/fonts/default-font/Default-Extrabold.woff">

        <!-- ==============================================
        Vendor Stylesheet
        =============================================== -->
        <link rel="stylesheet" media="screen" href="/assets/css/vendor/bootstrap.min.css">
        <link rel="stylesheet" media="screen" href="/assets/css/vendor/slider.min.css">
        <link rel="stylesheet" media="screen" href="/assets/css/main.css?v=1">
        <link rel="stylesheet" media="screen" href="/assets/css/vendor/icons.min.css">
        <link rel="stylesheet" media="screen" href="/assets/css/vendor/animation.min.css">
        <link rel="stylesheet" media="screen" href="/assets/css/vendor/gallery.min.css">
        <link rel="stylesheet" media="screen" href="/assets/css/vendor/cookie-notice.min.css">
        <link rel="stylesheet" media="screen" href="/assets/css/vendor/dracula.css">

        <!-- ==============================================
        Custom Stylesheet
        =============================================== -->
        <link rel="stylesheet" media="screen" href="/assets/css/default.css">

        <!-- Meta Pixel Code -->
        <script>
            !function(f,b,e,v,n,t,s) {if(f.fbq)return;n=f.fbq=function(){n.callMethod? n.callMethod.apply(n,arguments):n.queue.push(arguments)};if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';n.queue=[];t=b.createElement(e);t.async=!0;t.src=v;s=b.getElementsByTagName(e)[0];s.parentNode.insertBefore(t,s)}(window, document,'script','https://connect.facebook.net/en_US/fbevents.js');fbq('init', '1068748328230680');fbq('track', 'PageView');
        </script>
        <noscript><img height="1" width="1" style="display:none" src="https://www.facebook.com/tr?id=1068748328230680&ev=PageView&noscript=1" /></noscript>
        <!-- End Meta Pixel Code -->
        
    </head>

        <!-- ==============================================
        Body Content
        =============================================== -->

    <body class="theme-mode-dark body-mode-dark">
        <script defer src="https://www.googletagmanager.com/gtag/js?id={{ site.google_analytics }}"></script>
        <script>
            window.dataLayer = window.dataLayer || [];
            function gtag(){dataLayer.push(arguments);}
            gtag('js', new Date());
            gtag('config', '{{ site.google_analytics }}');
        </script>

        {% include wanted-website/header-partial.html %}
        
        {% if page.hero %}
        <!-- Hero -->
        <section id="slider" class="hero p-0 odd featured">
            <div class="swiper-container no-slider slider-h-100">
                <div class="swiper-wrapper">

                    <!-- Item 1 -->
                    <div class="swiper-slide slide-center">
                        
                        <img src="{{ page.hero }}" class="full-image" data-mask="50">
                        
                        <div class="slide-content row text-center">
                            <div class="col-12 mx-auto inner">
                                <h1 data-aos="zoom-out-up" data-aos-delay="400" class="title effect-static-text">{{ page.title }}</h1>
                                <nav data-aos="zoom-out-up" data-aos-delay="800" aria-label="breadcrumb">
                                    <ol class="breadcrumb">
                                        <li class="breadcrumb-item"><a href="/">Home</a></li>
                                        <li class="breadcrumb-item active" aria-current="page"><a href="/articles/">Articles</a></li>           
                                    </ol>
                                </nav>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        {% endif %}

        <!-- Content -->
        <section id="content" class="section-1 body-mode-dark single featured odd offers featured all">
            <div class="container">
                <div class="row">

                    <!-- Main -->
                    <main class="col-12 p-0">
                        <div class="row">
                            <div class="col-12 align-self-center">
                                {% if page.hero %}
                                {% else %}
                                    <h1 class="featured mt-0 ml-0 title effect-static-text">{{ page.title }}</h1>
                                {% endif %}
                                <article>
                                    {{ content }}
                                </article>
                            </div>
                        </div>        
                    </main>
                </div>
            </div>
        </section>
        
        {% include wanted-website/footer-partial.html %}

        {% include wanted-website/global-partial.html %}
        <!-- ==============================================
        Vendor Scripts
        =============================================== -->
        <script defer src="/assets/js/vendor/jquery.min.js"></script>
        <script defer src="/assets/js/vendor/jquery.easing.min.js"></script>
        <script defer src="/assets/js/vendor/jquery.inview.min.js"></script>
        <script defer src="/assets/js/vendor/popper.min.js"></script>
        <script defer src="/assets/js/vendor/bootstrap.min.js"></script>
        <script defer src="/assets/js/vendor/ponyfill.min.js"></script>
        <script defer src="/assets/js/vendor/slider.min.js"></script>
        <script defer src="/assets/js/vendor/animation.min.js"></script>
        <script defer src="/assets/js/vendor/progress-radial.min.js"></script>
        <script defer src="/assets/js/vendor/bricklayer.min.js"></script>
        <script defer src="/assets/js/vendor/gallery.min.js"></script>
        <script defer src="/assets/js/vendor/shuffle.min.js"></script>
        <script defer src="/assets/js/vendor/cookie-notice.min.js"></script>
        <script defer src="/assets/js/vendor/particles.min.js"></script>
        <script defer src="/assets/js/vendor/highlight.min.js?v=1"></script>
        <script defer src="/assets/js/main.js?v=1"></script>

        <!-- #endregion Global ========================= -->

    </body>
</html>
