---
layout: wanted-website
title: o WANTED.solutions
page_id: o-nas
lang: cs
language_reference: posts
published: true
---

<!-- About us -->
<section id="about" class="section-1 highlights image-right odd featured all">
    <div class="container">
        <div class="row">
            <div class="col-12 align-self-center text-center text-md-left">
                <div class="row intro">
                    <div class="col-12 p-0">
                        <h1 class="featured alt title effect-static-text">WANTED.solutions</h1>
                        <p>WANTED.solutions je nový přední poskytovatel inovativních softwarových řešení a poradenských služeb. S týmem vysoce kvalifikovaných odborníků pomáháme firmám využívat sílu technologií k růstu, zlepšení efektivity a získání náskoku před konkurencí.</p>
                        <p>Jsme kreativně orientovaná digitální agentura, která nabízí inovativní IT řešení a úžasnou kinematografii pro vaše podnikání. Ať už potřebujete webovou stránku, aplikaci, video nebo grafický design, máme dovednosti a vizi, jak to uskutečnit.</p>
                        <p>Jsme nadšení pro tvorbu digitálních produktů, které jsou uživatelsky přívětivé, poutavé a efektivní. Spolupracujeme s klienty z různých odvětví a sektorů a dodáváme řešení na míru, která splňují jejich potřeby a cíle. V WANTED.solutions neposkytujeme jen služby, vytváříme řešení pro vaše výzvy.</p>
                        <h2 class="feature alt">Naše mise</h2>
                        <p>Naší misí v WANTED.solutions je posilovat podniky špičkovými technologickými řešeními, která jim umožní dosahovat jejich cílů a uspět v dnešním digitálním prostředí. Jsme odhodláni poskytovat našim klientům výjimečnou hodnotu díky našim odborným znalostem, kreativitě a neochvějnému odhodlání k jejich úspěchu.</p>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-6 align-self-center text-center text-md-left"></div>
                <div class="row items">
                    <div class="col-12 p-0">
                        <div class="row item">
                            <div class="col-12 col-md-2 align-self-top icon-margin">
                                <i class="icon icon-energy"></i>
                            </div>
                            <div class="col-12 col-md-9 align-self-top">
                                <h3>Vývoj softwaru na míru</h3>
                                <p>Vynikáme v tvorbě inovativních softwarových řešení na míru, která splňují jedinečné potřeby a výzvy našich klientů. Naši zkušení vývojáři využívají sílu nejnovějších technologií a špičkových postupů k tvorbě robustních, škálovatelných a intuitivně navržených aplikací.</p>
                            </div>  
                        </div>
                        <div class="row item">
                            <div class="col-12 col-md-2 align-self-top icon-margin">
                                <i class="icon icon-bubbles"></i>
                            </div>
                            <div class="col-12 col-md-9 align-self-top">
                                <h3>IT poradenství</h3>
                                <p>Náš tým odborných poradců poskytuje strategické vedení a technickou odbornost, která firmám pomáhá optimalizovat jejich IT infrastrukturu, zjednodušovat procesy a sladit technologie s jejich obchodními cíli. Nabízíme širokou škálu poradenských služeb, včetně technologického hodnocení, vývoje plánů a řízení projektů.</p>
                            </div>  
                        </div>
                        <div class="row item">
                            <div class="col-12 col-md-2 align-self-top icon-margin">
                                <i class="icon icon-cloud-upload"></i>
                            </div>
                            <div class="col-12 col-md-9 align-self-top">
                                <h3>Cloudová řešení</h3>
                                <p>Pomáháme firmám využívat sílu cloud computingu k zlepšení agility, škálovatelnosti a nákladové efektivity. Naši cloudoví experti pomáhají s migrací aplikací a dat do cloudu, implementací cloudových řešení a optimalizací cloudové infrastruktury pro maximální výkon a bezpečnost.</p>
                            </div>  
                        </div>
                        <div class="row item">
                            <div class="col-12 col-md-2 align-self-top icon-margin">
                                <i class="icon icon-rocket"></i>
                            </div>
                            <div class="col-12 col-md-9 align-self-top">
                                <h3>Digitální transformace</h3>
                                <p>Posouváme organizace vpřed na jejich cestě digitální transformace, pomáháme jim přijímat nové technologie, přepracovávat procesy a vytvářet inovativní digitální zážitky. Náš komplexní přístup, založený na strategii, designu, vývoji a řízení změn, zajišťuje úspěšné výsledky. Stejně jako raketa, která se vydává do nových obzorů, máme za cíl povýšit vaši digitální přítomnost na bezprecedentní výšky, zajišťující trajektorii k inovaci a excelenci.</p>
                            </div>  
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Offered items -->
<section id="features" class="section-1 odd offers featured all">
    <div class="container">
        <div class="row intro">
            <div class="col-12 col-md-12 align-self-center text-center text-md-left">
                <h2 class="featured">Máte výzvu?</h2>
                <p>V WANTED.solutions chápeme neustále se vyvíjející výzvy v IT světě. Proto nabízíme komplexní sadu řešení, která jsou přizpůsobena k řešení vašich jedinečných problémů přímo. Od špičkového vývoje softwaru po robustní správu infrastruktury, náš tým odborníků je připraven vám pomoci se sebevědomím navigovat digitálním prostředím. Důvěřujte WANTED.solutions, aby byl vaším spolehlivým partnerem při překonávání jakékoliv IT překážky a dosahování vašich obchodních cílů.</p>
            </div>
        </div>
        <div class="row justify-content-center text-center items">
            {% for item in site.offered-items %}
            {% if item.language == "cs" %}
            <div class="col-12 col-md-6 col-lg-4">
                <div class="item">
                    <a href="{{ item.url }}">
                        <div class="card card-hover card-item">
                            <div>
                                <i class="icon {{ item.icon }}"></i>
                            </div>
                            <h3 class="feature-name">{{ item.title }}</h3>
                            <p>{{ item.description }}</p>
                        </div>
                    </a>
                </div>
            </div>
            {% endif %}
            {% endfor %}
        </div>
    </div>
</section>
<!-- Why WANTED Solutions  -->
<section id="why-us" class="section-1 highlights image-right odd featured all">
    <div class="container">
        <div class="row">
            <div class="col-12 align-self-center text-center text-md-left">
                <div class="row intro">
                    <div class="col-12 p-0">
                        <h2 class="featured alt">Proč WANTED.solutions?</h2>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-6 align-self-center text-center text-md-left"></div>
                <div class="row items">
                    <div class="col-12 p-0">
                        <div class="row item">
                            <div class="col-12 col-md-2 align-self-top icon-margin">
                                <i class="icon icon-graduation"></i>
                            </div>
                            <div class="col-12 col-md-9 align-self-top">
                                <h4>Odbornost</h4>
                                <p>Náš tým se skládá z vysoce kvalifikovaných odborníků s hlubokými znalostmi v různých oblastech a technologiích. Držíme se na čele průmyslových trendů a neustále zvyšujeme naše znalosti, abychom mohli poskytovat nejmodernější řešení.</p>
                            </div>
                        </div>
                        <div class="row item">
                            <div class="col-12 col-md-2 align-self-top icon-margin">
                                <i class="icon icon-magnifier"></i>
                            </div>
                            <div class="col-12 col-md-9 align-self-top">
                                <h4>Klientský přístup</h4>
                                <p>Klienty stavíme do centra všeho, co děláme. Pečlivě zkoumáme jejich jedinečné potřeby, cíle a výzvy, a přizpůsobujeme naše řešení tak, aby poskytovala maximální hodnotu a spokojenost. Naše přístupy jsou vždy na míru šité s důrazem na detail, což nám umožňuje poskytovat řešení, která dokonale odpovídají očekáváním našich klientů.</p>
                            </div>
                        </div>
                        <div class="row item">
                            <div class="col-12 col-md-2 align-self-top icon-margin">
                                <i class="icon icon-refresh"></i>
                            </div>
                            <div class="col-12 col-md-9 align-self-top">
                                <h4>Agilní metodika</h4>
                                <p>Přijímáme agilní vývojové postupy, abychom zaručili flexibilitu, týmovou práci a rychlé dodání prémiových řešení. Náš cyklus neustálého opakování podporuje trvalé zlepšování a přizpůsobivost měnícím se potřebám. Tento osvěžující přístup udržuje naše strategie dynamické a sladěné s neustále se měnícími požadavky projektů, které realizujeme.</p>
                            </div>
                        </div>
                        <div class="row item">
                            <div class="col-12 col-md-2 align-self-top icon-margin">
                                <i class="icon icon-check"></i>
                            </div>
                            <div class="col-12 col-md-9 align-self-top">
                                <h4>Kvalita a spolehlivost</h4>
                                <p>Zavazujeme se dodávat řešení nejvyšší kvality a spolehlivosti. Naše důkladné testování a klíčové procesy zajištění kvality zajišťují, že naše řešení splňují nejvyšší standardy výkonu, bezpečnosti a použitelnosti.</p>
                            </div>
                        </div>
                        <div class="row item">
                            <div class="col-12 col-md-2 align-self-top icon-margin">
                                <i class="icon icon-people"></i>
                            </div>
                            <div class="col-12 col-md-9 align-self-top">
                                <h4>Dlouhodobé partnerství</h4>
                                <p>Usilujeme o budování dlouhodobých partnerství s našimi klienty založených na důvěře, transparentnosti a vzájemném úspěchu. Překračujeme hranice projektu a poskytujeme trvalou podporu, údržbu a strategické vedení, abychom našim klientům pomohli dosáhnout jejich dlouhodobých cílů.</p>
                            </div>  
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Leadership -->
<section id="testimonials" class="section-4 odd featured all">
    <div class="container">
        <div class="row intro">
            <div class="col-12 col-md-12 align-self-center text-center text-md-left">
                <h2 class="featured">Our Leadership</h2>
                <p>
                    Our leadership team at WANTED.solutions is committed to driving innovation and excellence across all our projects. With a deep understanding of the tech industry and a clear vision for the future, our leaders bring a blend of expertise and creativity to guide our talented team. They are dedicated to fostering a collaborative environment where unique ideas flourish, ensuring that we not only meet but exceed the expectations of our diverse clientele.
                </p>
            </div>
        </div>
        <div class="row items ">
            <div class="col-12 col-md-6 col-lg-3 item text-center">
                <div class="card px-0 my-2">
                    <img loading="lazy" src="/assets/team/martin-hrasek.webp" alt="Martin Hrášek"
                        class="person mx-auto d-block">
                    <h3 class="employee-name">Martin Hrášek</h3>
                    <p><i>Solutions architect</i></p>
                    <ul class="navbar-nav social share-list mx-auto justify-content-center">
                        <li class="nav-item">
                            <a href="mailto:martin.hrasek@wanted.solutions" target="_blank" class="nav-link"><i
                                    class="icon-envelope ml-2 mr-2"></i></a>
                        </li>
                        <li class="nav-item">
                            <a href="https://github.com/marley-ma/" target="_blank" class="nav-link"><i
                                    class="icon-social-github ml-2 mr-2"></i></a>
                        </li>
                        <li class="nav-item">
                            <a href="https://www.linkedin.com/in/marley-ma/" target="_blank" class="nav-link"><i
                                    class="icon-social-linkedin ml-2 mr-2"></i></a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-12 col-md-6 col-lg-3 item text-center">
                <div class="card px-0 my-2">
                    <img loading="lazy" src="/assets/team/marek-cerjak.webp" alt="Marek Čerjak"
                        class="person mx-auto d-block">
                    <h3 class="employee-name">Marek Čerjak</h3>
                    <p><i>Software engineer</i></p>
                    <ul class="navbar-nav social share-list mx-auto justify-content-center">
                        <li class="nav-item">
                            <a href="mailto:marek.cerjak@wanted.solutions" target="_blank" class="nav-link"><i
                                    class="icon-envelope ml-2 mr-2"></i></a>
                        </li>
                        <li class="nav-item">
                            <a href="https://github.com/online4Ucz" class="nav-link"><i
                                    class="icon-social-github ml-2 mr-2"></i></a>
                        </li>
                        <li class="nav-item">
                            <a href="https://www.linkedin.com/in/marek-%C4%8Derjak-b3048b5/" class="nav-link"><i
                                    class="icon-social-linkedin ml-2 mr-2"></i></a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-12 col-md-6 col-lg-3 item text-center">
                <div class="card px-0 my-2">
                    <img loading="lazy" src="/assets/team/martin-kanala.webp" alt="Martin Kanala"
                        class="person mx-auto d-block">
                    <h3 class="employee-name">Martin Kanala</h3>
                    <p><i>Software engineer</i></p>
                    <ul class="navbar-nav social share-list mx-auto justify-content-center">
                        <li class="nav-item">
                            <a href="mailto:martin.kanala@wanted.solutions" target="_blank" class="nav-link"><i
                                    class="icon-envelope ml-2 mr-2"></i></a>
                        </li>
                        <li class="nav-item">
                            <a href="https://github.com/mkanala" class="nav-link"><i
                                    class="icon-social-github ml-2 mr-2"></i></a>
                        </li>
                        <li class="nav-item">
                            <a href="https://www.linkedin.com/in/martinkanala/" class="nav-link"><i
                                    class="icon-social-linkedin ml-2 mr-2"></i></a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-12 col-md-6 col-lg-3 item text-center">
                <div class="card px-0 my-2">
                    <img loading="lazy" src="/assets/team/vojtech-naceradsky.webp" alt="Vojtěch Načeradský"
                        class="person mx-auto d-block">
                    <h3 class="employee-name">Vojtěch Načeradský</h3>
                    <p><i>Project manager</i></p>
                    <ul class="navbar-nav social share-list mx-auto justify-content-center">
                        <li class="nav-item">
                            <a href="mailto:vojtech.naceradsky@wanted.solutions" target="_blank" class="nav-link"><i
                                    class="icon-envelope ml-2 mr-2"></i></a>
                        </li>
                        <li class="nav-item">
                            <a href="https://github.com/naceradsky" target="_blank" class="nav-link"><i
                                    class="icon-social-github ml-2 mr-2"></i></a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="text-center mt-5">
            <h3>Seznamte se s naším celým týmem</h3>
            <a class="btn primary-button mx-auto" href="/cs/tym"><i class="icon-people"></i>Náš tým</a>
        </div>
    </div>
</section>